<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
    <!--
        suppress the following logs at the end of the tests:
            ERROR com.datastax.driver.core.ControlConnection - [Control connection] Cannot connect to any host, scheduling retry in 1000 milliseconds
    -->
    <logger name="com.datastax.driver.core.ControlConnection" level="off"/>

    <!--
        suppress unreadable huge logs..
    -->
    <logger name="org.springframework.test" level="warn"/>
    <logger name="org.springframework.boot.test" level="warn"/>
    <logger name="com.datastax.driver.core" level="warn"/>

    <!--
        suppress forked cassandra stdout output
    -->
    <logger name="com.github.nosan.embedded.cassandra.api.Cassandra" level="warn"/>

</configuration>
